<!DOCTYPE html>
<html>
    <head>
        <title>My DJango Practice</title>
    </head>
    <body>
            <h1><a href="/">My DJango Practice</a></h1>
        </header>

        {% for post in posts %}
            <article>
                <time>published: {{ post.published_date }}</time>
                <h2><a href="">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaksbr }}</p>
            </article>
        {% endfor %}
        <header>
        <article>
            <time>published: 09.08.2021, 12:14</time>
            <h2><a href="">My first post</a></h2>
            <p> This is Kousha Changizi and this is my first post!!!!!!!!!!!</p>
        </article>

        <article>
            <time>published: 09.08.2021, 12:14</time>
            <h2><a href="">My second post</a></h2>
            <p> Yaaaayyyy, my second post :))</p>
        </article>
    </body>
</html>
